<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #425563;"></span>
		<span class="sg-label">
			$color-brand-fiord <br />
			#425563
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333F48;"></span>
		<span class="sg-label">
			$color-brand-limed-spruce <br />
			#333F48
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #2AD2C9;"></span>
		<span class="sg-label">
			$color-brand-turquoise <br />
			#2AD2C9
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #4CAFAA;"></span>
		<span class="sg-label">
			$color-brand-tradewind <br />
			#4CAFAA
		</span>
	</li>
</ul>
